.button {
    overflow: hidden;
    background-color: #f68038;
    color: #fff;
    font-size: 14px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    transition: 0.1s;
    position: relative;
    border-radius: 5px;
    &:hover {
        background-color: #ff9756;
    }
    
    &:active {
        background-color: #fcb183;
    }
    
    &::before,
    &::after {
        position: absolute;
        content: "";
        left: 50%;
        transform: translate(-50%);
        width: calc(100% - 8px);
        height: 2px;
        background-color: rgb(255, 255, 255);
        transition: 0.3s;
    }
    
    &::before {
        top: 4px;
    }
    
    &::after {
        bottom: 4px;
    }
    &:hover::before {
        animation: go1 1s;
        animation-fill-mode: forwards;
    }
    
    &:hover::after {
        animation: go2 1s;
        animation-fill-mode: forwards;
    }
}
.backeffect:before {
    animation: back1 1s;
    animation-fill-mode: forwards;
}

.backeffect:after {
    animation: back2 1s;
    animation-fill-mode: forwards;
}



@keyframes go1 {
    0% {
        transform: rotate(0deg);
        width: 50px;
        top: 25px;
    }
    50% {
        transform: rotate(90deg);
        top: 25px;
        width: 50px;
        left: calc(50%);
    }
    100% {
        transform: rotate(90deg);
        top: 25px;
        width: 50px;
        left: -20px;
    }
}
@keyframes go2 {
    0% {
        transform: rotate(0deg);
        width: 50px;
        top: 25px;
    }
    50% {
        transform: rotate(90deg);
        top: 25px;
        width: 50px;
        left: calc(50%-25px);
    }
    100% {
        transform: rotate(90deg);
        top: 25px;
        width: 50px;
        left: calc(100% - 29px);
    }
}

@keyframes back1 {
    100% {
        left: 50%;
        transform: translate(-50%);
        width: calc(100% - 8px);
        height: 2px;
        top: 4px;
    }
    50% {
        transform: rotate(90deg);
        top: 25px;
        width: 50px;
        left: calc(50%);
    }
    0% {
        transform: rotate(90deg);
        top: 25px;
        width: 50px;
        left: -20px;
    }
}
@keyframes back2 {
    100% {
        left: 50%;
        transform: translate(-50%);
        width: calc(100% - 8px);
        height: 2px;
        bottom: 4px;
    }
    50% {
        transform: rotate(90deg);
        top: 25px;
        width: 50px;
        left: calc(50%-25px);
    }
    0% {
        transform: rotate(90deg);
        top: 25px;
        width: 50px;
        left: calc(100% - 29px);
    }
}
