.button {
    background-color: rgb(235, 103, 55);
    color: #fff;
    font-size: 14px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    transition: 0.1s;
    position: relative;
}

.button:hover {
    background-color: rgb(190, 86, 49);
}

.button:active {
    background-color: rgb(253, 148, 109);
}

.button::before,
.button::after {
    position: absolute;
    content: "";
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 8px);
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}

.button::before {
    top: 4px;
}

.button::after {
    bottom: 4px;
}
.button:hover::before {
    animation: go1 1s;
    animation-fill-mode: forwards;
}

.button:hover::after {
    animation: go2 1s;
    animation-fill-mode: forwards;
}

.backeffect:before {
    animation: back1 1s;
    animation-fill-mode: forwards;
}

.backeffect:after {
    animation: back2 1s;
    animation-fill-mode: forwards;
}

@keyframes go1 {
    0% {
        transform: rotate(0deg);
        width: 50px;
        top: 25px;
    }
    50% {
        transform: rotate(90deg);
        top: 25px;
        width: 50px;
        left: calc(50%);
    }
    100% {
        transform: rotate(90deg);
        top: 25px;
        width: 50px;
        left: -20px;
    }
}
@keyframes go2 {
    0% {
        transform: rotate(0deg);
        width: 50px;
        top: 25px;
    }
    50% {
        transform: rotate(90deg);
        top: 25px;
        width: 50px;
        left: calc(50%-25px);
    }
    100% {
        transform: rotate(90deg);
        top: 25px;
        width: 50px;
        left: calc(100% - 29px);
    }
}

@keyframes back1 {
    100% {
        left: 50%;
        transform: translate(-50%);
        width: calc(100% - 8px);
        height: 2px;
        top: 4px;
    }
    50% {
        transform: rotate(90deg);
        top: 25px;
        width: 50px;
        left: calc(50%);
    }
    0% {
        transform: rotate(90deg);
        top: 25px;
        width: 50px;
        left: -20px;
    }
}
@keyframes back2 {
    100% {
        left: 50%;
        transform: translate(-50%);
        width: calc(100% - 8px);
        height: 2px;
        bottom: 4px;
    }
    50% {
        transform: rotate(90deg);
        top: 25px;
        width: 50px;
        left: calc(50%-25px);
    }
    0% {
        transform: rotate(90deg);
        top: 25px;
        width: 50px;
        left: calc(100% - 29px);
    }
}
