.leftnav {
    &__link{
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #009fb3;
        &:hover {
            color: #fff;
            background-color: #007a8a;
        }  
    }
}
