.pages{
    display: flex;
    height: 40px;
    &__item{
        margin-right: 10px;
        text-align: center;
        line-height: 26px;
        width: 30px;
        height: 30px;
        background-color: #fff;
        color: #f68038;
        font-weight: 700;
        cursor: pointer;
        transition: 0.2s;
        border: 2px solid #f68038;
        &:hover{
            background-color: #f68038;
            color: #fff;
        }
        &.active{
            background-color: #f68038;
            color: #fff;
        }
    }
}