.form {
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 20px;
}

.orange {
    border-color: #f68038;
}

.blue {
    border-color: #009fb3;
}

.green {
    border-color: #34d383;
}