.addtype{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 50;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    &.active{
        opacity: 1;
        visibility: visible;
    }
    &__close_button{
        width: 30px;
        height: 30px;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 18px;
        line-height: 18px;
        padding: 0px;
        margin: 20px 20px 0px 0px;
    }
    &__card{
        position: relative;
        background-color: #fff;
        border-radius: 10px;
    }
    &__title{
        font-size: 25px;
        font-weight: 900;
        color: #009fb3;
        text-align: center;
    }
    &__form{
        padding: 30px;
        &_inputtitle{
            color: #000;
            font-weight: 700;
            margin-bottom: 5px;
        }
        &_button{
            padding: 10px;
            width: 100%;
        }
        &_row{
            display: flex;
            justify-content: space-between;
        }
        &_brands{
            margin-left: 10px;
            margin-right: 10px;
        }
        &_image{
            margin-bottom: 10px;
        }
    }
}
.description{
    max-height: 200px;
    overflow: auto;
    input:first-child{
        width: 150px;
    }
    input{
        margin-right:10px;
    }
    &__button{
        width: 100px;
        height: 40px;
    }
}