.column{
    padding-top: 40px;
    display:flex;
    flex-direction:column;
    &__button{
        padding: 10px 10px 10px 20px;
        text-align: left;
        margin-bottom: 10px;
        font-size: 18px;
        border-radius: 0;
    }
}